[default]
#host=http://127.0.0.1:8080
host=http://www.sqlpy.com
hardwarecreate=%(host)s/sysbench/hardware/create/
softwarecreate=%(host)s/sysbench/software/create/
softwarescorecreate=%(host)s/sysbench/softwarescore/create/


[hardware]
name=2c4g500ghdd
cpu=2
memory=4g
disk=500g
disk_type=hdd
os_release=7.4


[software]
mysql_release=mysql-5.6.40
big_release=mysql-5.6







